		body {
			background-color: #e3d4d0;
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		.container {
			position: center;
		}
		h1 {
			font-size: 26px;
			font-weight: bold;
			margin: 0;
			text-align: center;
			color: #333;
			display: block;
			margin: 20px auto;
			max-width: 200px;
			padding: 15px;
			border-radius: 5px;
			background-color: #81b29a;
			color: #fff;
			text-align: center;
			font-weight: bold;
			text-decoration: none;
			transition: background-color 0.3s ease;
		}
		p {
			font-size: 12px;
			font-weight: bold;
			margin: 0;
			text-align: center;
			color: #333;
			display: block;
			margin: 20px auto;
			max-width: 200px;
			padding: 15px;
			border-radius: 5px;
			background-color: #81b29a;
			color: #fff;
			text-align: center;
			font-weight: bold;
			text-decoration: none;
			transition: background-color 0.3s ease;
		}
		a{
			font-size: 12px;
			font-weight: bold;
			margin: 0;
			text-align: center;
			color: #333;
			display: block;
			margin: 20px auto;
			max-width: 200px;
			padding: 15px;
			border-radius: 5px;
			
			color: #fff;
			text-align: center;
			font-weight: bold;
			text-decoration: none;
			transition: background-color 0.3s ease;
		}
		.buttoninvite {
			display: block;
			margin: 20px auto;
			max-width: 200px;
			padding: 15px;
			border-radius: 5px;
			background-color: #81b29a;
			color: #000;
			text-align: center;
			font-weight: bold;
			text-decoration: none;
			transition: background-color 0.3s ease;
		}
		.buttoninvite:hover {
			background-color: #e3d4d0;
		}

		.registration
		{
			
		}
